.tableAction {
  cursor: pointer;

  @mixin hover {
    color: var(--mantine-color-primary-6);
  }
}

.actions {
  border-bottom: 1px solid
    light-dark(var(--mantine-color-gray-3), var(--mantine-color-dark-4));
  border-top: 1px solid
    light-dark(var(--mantine-color-gray-3), var(--mantine-color-dark-4));
}

.chevron {
  transition: transform 200ms ease;
}
