.search {
  background-color: light-dark(
    var(--mantine-color-white),
    var(--mantine-color-dark-6)
  );
  padding: 0 var(--mantine-spacing-sm);
  border-radius: var(--mantine-radius-md);
  height: 35px;
  cursor: pointer;
}
