.user {
  background-color: light-dark(
    var(--mantine-color-white),
    var(--mantine-color-dark-6)
  );
  border-radius: var(--mantine-radius-md);
  height: 35px;
  padding: 0 var(--mantine-spacing-sm);

  &:hover {
    background-color: light-dark(
      var(--mantine-color-white),
      var(--mantine-color-dark-8)
    );
  }

  @media (max-width: $mantine-breakpoint-xs) {
    display: none;
  }
}
